body,html{
    height: 100%;
    margin:0px;
}

body{
    background-color: #114670;
}

.cme{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cme *{
    margin: 0px;
}
.no1{
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: fade-in;
    animation-duration: 2s;
}
.no2{
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: fade-in;
    animation-delay: 2s;
    animation-duration: 2s;
}
.no3{
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: fade-in;
    animation-delay: 4s;
    animation-duration: 2s;
}
.no4{
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: fade-in;
    animation-delay: 6s;
    animation-duration: 2s;
}
.no5{
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: fade-in;
    animation-delay: 8s;
    animation-duration: 2s;
}

@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media screen and (max-width: 768px){
    body{
        text-align: center;
    }
    .col-md-4{
        margin:15px 0px;
    }
}
